<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="CockpitX.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <userSettings>
        <CockpitX.My.MySettings>
            <setting name="FsxPath" serializeAs="String">
                <value />
            </setting>
            <setting name="CoptX_Path" serializeAs="String">
                <value />
            </setting>
            <setting name="Datagrid_View_Enable_Annun" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Datagrid_View_Enable_Contral" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Datagrid_View_Enable_Segment" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Datagrid_View_Enable_Gauges" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Setting_Cell_UpdateStyle_Colored" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Setting_Cell_UpdateStyle_Normal" serializeAs="String">
                <value />
            </setting>
            <setting name="CellHeaderColorAnnun" serializeAs="String">
                <value />
            </setting>
            <setting name="CellHeaderColorCtrl" serializeAs="String">
                <value />
            </setting>
            <setting name="CellHeaderColorSeg" serializeAs="String">
                <value />
            </setting>
            <setting name="CellHeaderColorGauge" serializeAs="String">
                <value />
            </setting>
            <setting name="Timer_Interval_Annun" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Timer_Interval_Segmernt" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Timer_Interval_Gauges" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Timer_Interval_Msc" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Setting" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Setting_Crew_Oxy_Pressure_Gauge" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Setting_Fual_Tepmp" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Setting_EGT_Gauge" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Setting_Air_Tempature_" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Setting_Duct_Press_Ndel_1" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Setting_Duct_Press_Ndel_2" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Setting_Alt_Pressure_Gauge_Ndl_1" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Setting_Alt_Pressure_Gauge_Ndl_2" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Setting_Press_Diff_Gauge" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Setting_Manual_Valve_" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Setting_Flaps_Gauge_L" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Setting_Flaps_Gauge_R" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Setting_Break_Pressure_Gauge_" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Quick_Load_Auto_Start" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SrlPort_1" serializeAs="String">
                <value />
            </setting>
            <setting name="SrlPort_2" serializeAs="String">
                <value />
            </setting>
            <setting name="SrlPort_3" serializeAs="String">
                <value />
            </setting>
            <setting name="SrlPort_4" serializeAs="String">
                <value />
            </setting>
            <setting name="SrlPort_5" serializeAs="String">
                <value />
            </setting>
            <setting name="SrlPort_6" serializeAs="String">
                <value />
            </setting>
            <setting name="SrlPort_7" serializeAs="String">
                <value />
            </setting>
            <setting name="SrlPort_8" serializeAs="String">
                <value />
            </setting>
            <setting name="SrlPort_9" serializeAs="String">
                <value />
            </setting>
            <setting name="SrlPort_10" serializeAs="String">
                <value />
            </setting>
            <setting name="SrlBud_1" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SrlBud_2" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SrlBud_3" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SrlBud_4" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SrlBud_5" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SrlBud_6" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SrlBud_7" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SrlBud_8" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SrlBud_9" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SrlBud_10" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Setting1" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SrlPortName_1" serializeAs="String">
                <value />
            </setting>
            <setting name="SrlPortName_2" serializeAs="String">
                <value />
            </setting>
            <setting name="SrlPortName_3" serializeAs="String">
                <value />
            </setting>
            <setting name="SrlPortName_4" serializeAs="String">
                <value />
            </setting>
            <setting name="SrlPortName_5" serializeAs="String">
                <value />
            </setting>
            <setting name="SrlPortName_6" serializeAs="String">
                <value />
            </setting>
            <setting name="SrlPortName_7" serializeAs="String">
                <value />
            </setting>
            <setting name="SrlPortName_8" serializeAs="String">
                <value />
            </setting>
            <setting name="SrlPortName_9" serializeAs="String">
                <value />
            </setting>
            <setting name="SrlPortName_10" serializeAs="String">
                <value />
            </setting>
            <setting name="Timer_Interval_Pri" serializeAs="String">
                <value />
            </setting>
            <setting name="Setting2" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="SET_MSC_Engine_Starter_1" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SET_MSC_Engine_Starter_2" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SET_MSC_LabelYAW_DamperLB" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SET_MSC_Auto_Throttle_Arm" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SET_MSC_Port_YawDamper_port" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SET_MSC_Engine_Starter_1_Port" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SET_MSC_Engine_Starter_2_Port" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SET_MSC_Auto_Throttle_Btn_Port" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FORM_STATION_STARTUP" serializeAs="String">
                <value>0</value>
            </setting>
        </CockpitX.My.MySettings>
    </userSettings>
</configuration>
