<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CockpitX_V1._4.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client" />
    </startup>
    <userSettings>
        <CockpitX_V1._4.My.MySettings>
            <setting name="FsxPath" serializeAs="String">
                <value />
            </setting>
            <setting name="CoptX_Path" serializeAs="String">
                <value />
            </setting>
            <setting name="Datagrid_View_Enable_Annun" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Datagrid_View_Enable_Contral" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Datagrid_View_Enable_Segment" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Datagrid_View_Enable_Gauges" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Setting_Cell_UpdateStyle_Colored" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Setting_Cell_UpdateStyle_Normal" serializeAs="String">
                <value />
            </setting>
            <setting name="CellHeaderColorAnnun" serializeAs="String">
                <value />
            </setting>
            <setting name="CellHeaderColorCtrl" serializeAs="String">
                <value />
            </setting>
            <setting name="CellHeaderColorSeg" serializeAs="String">
                <value />
            </setting>
            <setting name="CellHeaderColorGauge" serializeAs="String">
                <value />
            </setting>
            <setting name="Timer_Interval_Annun" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Timer_Interval_Segmernt" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Timer_Interval_Gauges" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Timer_Interval_Msc" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Setting" serializeAs="String">
                <value>0</value>
            </setting>
        </CockpitX_V1._4.My.MySettings>
    </userSettings>
</configuration>